# ----------------------
# GAMS outputs
# ----------------------
*.gdx
*.log
*.lst

# ----------------------
# Backup files
# ----------------------
*~
*.bak

# ----------------------
# R
# ----------------------
.Rhistory

# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
.ipynb_checkpoints/

# ----------------------
# Excel temporary
# ----------------------
~$*.xlsx

# ----------------------
# Output folders
# ----------------------
GDX_documents/
Origin_Figs_Editable/
Figure_Plotting/**/outputs/

# ----------------------
# OS
# ----------------------
.DS_Store
Thumbs.db